<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676826012129-q2fctns7vckc2dv9pghg07tprnfnhjjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676826012129-q2fctns7vckc2dv9pghg07tprnfnhjjr</string>
	<key>API_KEY</key>
	<string>AIzaSyAE6JJTp_LHIPXKHJR-RBruZmWozTYQo28</string>
	<key>GCM_SENDER_ID</key>
	<string>676826012129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoC8Monday</string>
	<key>PROJECT_ID</key>
	<string>todo-c8-monday</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-c8-monday.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676826012129:ios:50863d149c6c0d73ed9aa0</string>
</dict>
</plist>